<div class="header bg-gray-800 text-gray-100">
  <div class="container mx-auto py-2">
    <div class="flex justify-between items-center">
      <div class="text-4xl">
        LOGO
      </div>
      <nav>
        <ul class="flex justify-center items-center space-x-1">
          <li class="">
            <a routerLink="index" class="py-2 inline-block font-medium px-10 bg-gray-200 text-gray-700 transition-all ease-in duration-300 hover:scale-105 rounded-l-md" href="">Home</a>
          </li>
          <li class="">
            <a routerLink="about" class="py-2 inline-block font-medium px-10 bg-gray-200 text-gray-700 transition-all ease-in duration-300 hover:scale-105 " href="">About</a>
          </li>
          <li class="">
            <a routerLink="shop" class="py-2 inline-block font-medium px-10 bg-gray-200 text-gray-700 transition-all ease-in duration-300 hover:scale-105 " href="">Shop</a>
          </li>
          <li class="">
            <a routerLink="contact" class="py-2 inline-block font-medium px-10 bg-gray-200 text-gray-700 transition-all ease-in duration-300 hover:scale-105 rounded-r-md " href="">Contact</a>
          </li>
        </ul>
      </nav>
      <div class="space-x-0.5">
        <a href="" class="py-2 inline-block font-medium px-6 bg-gray-200 text-gray-700 transition-all ease-in duration-300 hover:scale-105 rounded-l-md">Login</a>
        <a href="" class="py-2 inline-block font-medium px-6 bg-gray-200 text-gray-700 transition-all ease-in duration-300 hover:scale-105 rounded-r-md ">Sign Up</a>
      </div>
    </div>
  </div>
</div>
